


@model IEnumerable<CustomerDB.Models.Customer>

@{
    ViewData["Title"] = "Index";
}

<h1 style="color:darksalmon">List Of All Customer</h1>

@* <p>
    <a class="btn btn-primary text-end" style="position:inherit" asp-action="Create">Create New</a>
</p> *@

<br />



<form method="get" action="@Url.Action("Index")">
    <div class="form-group col-md-6">
        <input type="text" name="searchName" class="form-control" placeholder="Search by Name">
    </div>
    <br />
    <div class="form-group col-md-6">
        <input type="text" name="searchEmail" class="form-control" placeholder="Search by Email">
    </div>
    <br />
    <button type="submit" style="margin-left:550px;overflow:auto" class="btn btn-info">Search</button>
</form>
<hr style="width:1300px;height:8px;color:crimson" />
<br />
<div class="row float-right " style="margin-left:1100px;overflow:auto">
    <div class="col text-right">
        <a class="btn btn-success" asp-action="Create">Create New</a>
    </div>
</div>
<table class="table rounded">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    <a class="btn btn-info" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a class="btn btn-secondary" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a class="btn btn-danger"  asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
